# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor settings
.idea/
.vscode/
*.swp

# Build files
dist/
build/

# Dependency archives
*.tgz

# Coverage reports
coverage/

# Temporary files
*.tmp
*.temp

# database 
tododb.db